/* positions, structure, width, height*/
body {
  flex-direction: row;
}
section{
  width: 200px;
  height: 200px;
  border: 2px red solid;
  margin: auto;
  /* width: 960px; */
}


div{
  background-color: green;
  width: 480px;
  height: 250px;
 
  
}

@media only screen and (min-width:500px){
 
  }

  section{
    float: left;
  }

@media only screen and (min-width:500px){

}