#top { 
    width: 480px;
    height: 75px ;
    border: solid black;
    text-align: center;
    line-height: 75px;
    background-color: orange;
    order: 1;
}
#second{
    width: 480px;
    height: 150px;
    border: solid black;
    text-align: center;
    line-height: 150px;
    background-color:white;
    order: 2;

}
#third{
    width: 480px;
    height: 125px;
    color: green;
    border: solid black;
    text-align: center;
    line-height: 125px;
    background-color:blue;
    order: 3;

}
#fourth{
    width: 480px;
    height: 125px;
    border: solid black;
    text-align: center;
    line-height: 125px;
    background-color:blue;
    order: 4;
    
}
#fifth{
    width: 240px;
    height: 250px;
    border: solid black;
    float: left;
    text-align: center;
    line-height: 250px;
    background-color:green;
    order: 5;
    
}
#sixth{
    width: 240px;
    height: 250px;
    border: solid black;
    float: right;   
    text-align: center;
    line-height: 250px;
    order: 6;

}
#seventh{
    width: 240Px;
    height: 250px;
    border: solid black;
    float: left;
    text-align: center;
    line-height: 250px;
    order: 7;
}
#eighth{
    width: 240Px;
    height: 250px;
    border: solid black;
    float: right;
    text-align: center;
    line-height: 250px;
    order: 8;
}
#ninth{
    width: 480px;
    height: 80px;
    border: solid black;
    text-align: center;
    line-height: 80px;
    order: 9;
}
@media (min-width:768px){
    body{
      width: 960px;
    }
  
    #top{
      height: 100px;
      width: 960px;
      text-align: center;
      line-height: 100px;
      border: 1px solid black;
      background-color: orange;
      order: 1;
    }
    
    #second{
      height: 600px;
      width: 200px;
      text-align: center;
      line-height: 600px;
      border: 1px solid black;
      background-color:white;
      float: left;
      order:2;
    }
    
    #third{
      height: 200px;
      width: 380px;
      text-align: center;
      line-height: 200px;
      border: 1px solid black;
      float: right;
      background-color: blue;
      order: 3;
    }
    
    #fourth{
      background-color: rgb(0, 255, 34);
      height: 200px;
      width: 380px;
      text-align: center;
      line-height: 200px;
      border: 1px solid black;
      float: right;
      background-color: blue;
      order: 4;
     
    }
    
    #fifth {
      height: 250px;
      width: 190px;
      text-align: center;
      line-height: 250px;
      border: 1px solid black;
      float: left;
      margin-left: 0;
      background-color: red;
      order:5;

    }
    #sixth {
      height: 250px;
      width: 190px;
      text-align: center;
      line-height: 250px;
      border: 1px solid black;
      float: left;
      margin-left: 0;
      background-color: red;
      order:6;

    }

    #seventh {
      height: 250px;
      width: 190px;
      text-align: center;
      line-height: 250px;
      border: 1px solid black;
      float: left;
      margin-left: 0;
      background-color: red;
      order:7;
    }
    #eighth {
      height: 250px;
      width: 190px;
      text-align: center;
      line-height: 250px;
      border: 1px solid black;
      float: left;
      margin-left: 0;
      background-color: red;
      order:8;
    }
    
    #ninth{
      height: 150px;
      width: 760px;
      text-align: center;
      line-height: 150px;
      border: 1px solid black;
      background-color: lightgray;
      float: right;
      order:9;
    }
  }